.ads__display {
    width: 70%;
    margin: 20px auto;
    max-height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #fff;
    padding: 20px 10px;
    // overflow-y: hidden;
    .ads {
        max-height: 190px;
    }
}
.ads__display::-webkit-scrollbar {
    display: none;
}
.filters__container {
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
   .filters {
       width: 100%;
       border: none;
   }
}
.section__break {
    width: 40%;
    margin: 20px auto;
    // border-bottom: 1px solid rgb(196, 196, 196);
    border-bottom: 2px solid #fff;
}

@media (max-width: 1050px) {
    .filters, .ads__display, .filters__container {
        width: 90%;
    }
}
@media (max-width:800px) {
    .filters {
        gap: 0px;
        justify-content: space-evenly;
        .filter__title {
            display: none;
        }
    }
}

@media (max-width: 700px) {
    .ads__display .updated {
        display: none;
    }
} 

@media (max-width: 600px) {
    .ads__display {
        width: 95%;
        padding: 5px;
        .showAds__container {
            padding: 10px 0px;
            overflow-y: scroll;
            ul {
                gap: 5px;    
            }
        }
        .phone {
            display: none;
        }
    }
    .filters__container {
        width: 95%;
    }
} 
