.filters {
    min-height: 50px;
    margin: 0 auto;
    width: 70%;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5px;
}
