.form__container {
    margin: 0 auto;
    width: 45%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #fff;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 10px 0px;
    .form__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .form__submit {
        width: 100%;
        display: flex;
        justify-content: center;
        button {
            color: #fff;
            width: 30%;
            background-color: #4588c8;
            border: none;
            padding: 8px 0;
            margin-top: 10px;
        }
        button:hover {
            background-color: #256cad;
        }
    }
    .form__label {
        width: 100%;
        text-align: center;
        color: rgb(68, 68, 68);
    }
}
.css-6hp17o-MuiList-root-MuiMenu-list {
    height: 250px !important;
}

@media (max-width: 1100px) {
    .form__container {
        width: 60%;
    }
}
@media (max-width: 650px) {
    .form__container {
        width: 80%;
    }
}
