.container__home {
    height: 80vh;
    width: 70%;
    margin: 0 auto;
    margin-top: 55px;
    padding: 5px;

    .desclaimer__container {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        background-color: #fff3cd;
        color: #9e6f1e;
        border-radius: 5px;
        padding: 0 10px;
    }

    .main__content__home {
        height: 75vh;
        padding-top: 10px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 5%;
        .sidebar, .ads__home {
            height: 100%;
        }
        .ads__home {
            .filters {
                background-color: #fff;
                // height: 50px;
                width: 100%;
                // border: 1px solid black;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                padding-top: 5px;
            }
            .donate__requests, .required__requests {
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                background-color: #fff;
                margin-top: 5px;
                min-height: 40%;
                font-size: 14px;
                width: 100%;
                // border: 1px solid black;
            }
        }
    }
    .small__sidebar {
        grid-template-columns: 50px auto;
        .icon__container {
            justify-content: center;
        }
    }
}

@media (max-width: 1200px) {
    .container__home {
        width: 80%;
    }
}
@media (max-width: 1050px) {
    .container__home {
        width: 90%;
    }
}
@media (max-width:730px) {
    .main__content__home {
        gap: 10px !important;
    }
    .ads__home {
        .updated {
            display: none
        }
    }
}
@media (max-width:630px) {
    .container__home {
        width: 100%;
    }
    .filter__title {
        display: none
    }
}
@media (max-width:560px) {
    .sidebar {
        .sidebar__container {
            width: 40px !important;
        }
    }
    .small__sidebar {
        grid-template-columns: 40px auto !important;
    }
    .ads__home {
        .showAds__container {
            padding: 10px 5px;
        }
        .phone {
            display: none;
        }
        .name {
            width: 100px !important;
        }
    }
    .filters {
        gap: 10px;
    }
}
