.showAds__container {
    padding: 5px 20px;
    width: 100%;
    .header__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .post_ad_button {
        width: 30%;
        padding: 5px;
        background-color: #ffcb52;
        text-align: center;
        cursor: pointer;
    }
    .post_ad_button:hover {
        background-color: #f0ad12;
    }
    .show__ads {
        max-height: 220px;
        margin-top: 10px;
        padding-right: 2px;
        .ad__labels {
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
            
        }
        ul {
            display: flex;
            padding: 0;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            margin-bottom: 1px;
            border-top: 1px solid black;
            padding: 1px;

            .button {
                width: 30px;
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    border: none;
                    background-color: #ffcb52;
                }
                button:hover {
                    background-color: #f0ad12;
                }
            }    
        }
        .ads {
            margin-top: 6px;
            overflow-y: scroll;
        }

    }
}
.ads::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.ads::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 5px;
}

/* Handle */
.ads::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}

/* Handle on hover */
.ads::-webkit-scrollbar-thumb:hover {
    background: rgb(212, 0, 0); 
}

