.sidebar__container {
    max-width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    padding: 5px;
    .icon__container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .toggle__icon {
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 5px;
            top: 5px;
            border-radius: 50%;
            cursor: pointer; 
        }
        .toggle__icon:hover {
            background-color: #dceaf7;
        }
    }
    .sectionBreak {
        margin: 10px 0px;
        width: 100%;
        border-bottom: 1px solid #dceaf7;
    }
    .donation__item__container {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        margin-top: 10px;
        input {
            width: 60%;
            min-width: 120px;
            border: none;
            border-bottom: 2px solid #4588c8;
            padding-left: 5px;
        }
        input:focus {
            outline: none;
        }
        button {
            margin-top: 10px;
            padding: 5px;
            width: 120px;
            min-width: 80px;
            border: none;
            background-color: rgb(68, 226, 68);
            border-radius: 5px;
        }
        button:hover {
            background-color: rgb(46, 201, 46);
        }
    }
    .sidebar__item__container {
        min-height: 40px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: start;
        align-items: center;
        cursor: pointer;
        .sidebar__item__title {
            width: 85%;
            padding-left: 10px;
        }
    }
    .sidebar__item__logo {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .fas {
            transform: scale(1.3);
        }
    }
    .sidebar__item__container:hover {
        background-color: #dceaf7;
    }
    .none {
        display: none;
    }
}
