.sidebar__container {
    max-width: 250px;
    height: 100%;
    border: 1px solid black;
    padding: 5px;
    .icon__container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .toggle__icon {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 5px;
            top: 5px;
            border-radius: 50%;
            cursor: pointer; 
        }
        .toggle__icon:hover {
            background-color: rgb(240, 240, 240);
        }
    }
    .sectionBreak {
        margin: 10px 0px;
        width: 100%;
        border-bottom: 1px solid rgb(184, 184, 184);
    }
    .donation__item__container {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        margin-top: 10px;
        input {
            width: 60%;
            min-width: 120px;
            border: none;
            border-bottom: 2px solid black;
            padding-left: 5px;
        }
        input:focus {
            outline: none;
        }
        button {
            width: 40%;
            min-width: 80px;
            border: none;
            background-color: rgb(68, 226, 68);
            border-radius: 5px;
        }
        button:hover {
            background-color: rgb(46, 201, 46);
        }
    }
    .sidebar__item__container {
        min-height: 40px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: start;
        align-items: center;
        cursor: pointer;
        .sidebar__item__title {
            width: 85%;
            padding-left: 10px;
        }
    }
    .sidebar__item__logo {
        width: 30px;
        height: 30px;
        text-align: right;
        padding-top: 2px;
    }
    .sidebar__item__container:hover {
        background-color: rgb(239, 239, 239);
    }
    .none {
        display: none;
    }
}
